server {

    listen 80;
    server_name _;        
    root /srv/www;

    location / {
        index   index.html index.htm index.php;
        autoindex on;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    # block system directories and files
    location ~* ^/(?<project>[a-z0-9_\-\.]+)/(\.git|bin|data|config) {
        return 404;
    }

    # projects
    location ~* ^/(?<project>[a-z0-9_\-\.]+) {
        autoindex on;
        index   index.html index.htm index.php;
        try_files $uri $uri/ /$project/vendor/bnowack/backbone-php/src/scripts/index.php$is_args$args;
    } 

}
